<div class="comments">
  {{#each this}}
    <div class="container">
      <h3 class="container-header"></h3>
      <section class="comment container-body">
        <div class="text">
          {{comment_text}}
        </div>
        <div class="meta">
          -{{user.username}},
          {{format_date created_at}}
        </div>
      </section>
    </div>
  {{/each}}
</div>