<div class="card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username-input-login">Username</label>
      <input type="text" id="username-input-login" />
    </div>
    <div>
      <label for="password-input-login" class="form-label">Password</label>
      <input type="password" id="password-input-login" />
    </div>
    <button type="submit" id="login-btn" class="btn">Login!</button>
    <a type="button" href="/signup">Sign up instead</a>
  </form>
</div>

<script src="/js/login.js"></script>

{{! <section class="login-page">
  <div class="form-heading">
    <h1>Log In</h1>
  </div>
  <div class="form-section">
    <form class="login-form">
      <div>
        <label for="username-login">Username</label>
        <input type="text" class="entry-field" id="username-login" />
      </div>
      <div>
        <label for="password-login">Password</label>
        <input type="password" class="entry-field" id="password-login" />
      </div>
      <div>
        <button type="submit" class="login-signup-btn">Login!</button>
      </div>
    </form>
  </div>

  <a href="/signup" class="sign-in-link">Sign up instead</a>
</section>

<script src="/javascript/login.js"></script> }}