{{> post-info post}}

{{#if loggedIn}}
<div class="container">
    <h3 class="container-header"></h3>
    <form class="container-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="entry-field" />

        <button type="submit" class="btn">Submit</button>
    </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}